/*     section {
    column-count:2;
        -webkit-column-count: 2; Chrome, Safari, Opera
        -moz-column-count: 3; Firefox
        column-count: 3
    
    } */

h1 {
   text-align: center;

}
header {
    background-color: red;
}

.column-1 {
    float:left;
    background-color: blue;
    width: 40%;
      
}
.column-2{
   float: right;
   background-color: #ADD8E6;
   width: 40%;
   margin-right: 2em;
   
}
